html, body { 
 margin: 0; 
 padding: 0; 
 height: 100%; 

}




.wrapper { 
 background: url("/static/AppOneSDG/background.jpeg"); 
 background-repeat: no-repeat; 
 background-size: cover; 
 background-position: center; 
 height: 100vh; /* full viewport height */ 
 width: 100px; 
 display: flex; 
 align-items: center; 
 justify-content: center; 
 position: absolute; 

}

.text h1, .title, #intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /*color: white;*/
    color: var(--text-primary);
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: bold;
}

.container_home {
    text-align: center;
}


.device {
    width: 300px;
    margin: 20px 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.featured-devices {
    margin-top: 30px;
    color:  #0000AA;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 130px;
}


.device {
    width: 300px;
    margin: 80px 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.device img {
    max-width: 80%;
}
.device-info {
    text-align: center;
}

.device h3 {
    margin-top: 10px;
   
}

.device p {
    margin-top: 5px;
    margin-bottom: 10px;
    color: black;
    font-size: 14px;

}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 50px;
}

.btn:hover {
    background-color: #0056b3;
}